body{
    background-color: #f2f2f2; 
    border: 10px solid #ccc;
    padding: 30px; 
    box-sizing: border-box; 
  }


.container {
    position: relative;
    text-align: center;
    color: white;

  }

.date{
    color: rgb(0, 0, 0);
    display: block;
    margin-left: 0; 
}
.containerr {
    text-align: left;
}

  
  .centered {
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
  }



.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_intro {
    font-size: 30px;
    margin-left: 0px; 
    text-align: start;
    color: rgb(0, 0, 0);
  }

  .image {
    width: 50%;
    height: auto;
    float: left;
    margin-left: 20px;
  }

  .imgg {
    float: right;
    margin: 5px;
  }

  .paragraph1 {
    text-align: justify;
    font-size: 27px;
    color: black;
  }

  .paragraph1::first-letter {
    font-size: 220%;
  }

  .paragraph2 {
    text-align: justify;
    font-size: 27px;
    color: black;
  }

  footer {
    border-top: 1px solid #0c0b0b;
    padding: 10px;
    text-align: center;
    color: #0c0b0b;
}